@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-home-mobile {
  background-image: url('assets/home/background-home-mobile.jpg');
}

.bg-destination-mobile {
  background-image: url('assets/destination/background-destination-mobile.jpg');
}

.bg-crew-mobile {
  background-image: url('assets/crew/background-crew-mobile.jpg');
}

.bg-technology-mobile {
  background-image: url('assets/technology/background-technology-mobile.jpg');
}
